body {
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 16px;
}
.container {
	width: 810px;
}
.curriculum-vitae {
	padding-top: 40px;
	padding-bottom: 40px;
}
.curriculum-vitae p {
	margin-bottom: 0;
}
.box {
	border: 1px solid #000000;
}
.header {
	font-weight: bold;
}
.header .left {
	text-align: center;
	font-size: 14px;
}
.header .middle {
	text-align: center;
	font-size: 18px;
	padding-top: 50px;
}

.header .right .title {
	font-size: 11px;
}
.header .right .id-cand {
	text-align: right;
}
.header .right .sex {
	text-align: center;
	padding-top: 5px;
}
.list-skill-study {
	padding-left: 20px;
}
.block-1 {
	padding-top: 15px;
}
.block-1 .thumb {
	height: 243px;
    display: table;
    width: 180px;
    float: left;
    margin-right: 45px;
    margin-bottom: 20px;
}
.block-1 .thumb .desc {
	display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
}
.list-skill-study li {
	list-style-type: none;
}
.list-skill-study li:before {
	content: "-";
}
.skill-study {
	position: relative;
	width: 140px;
    display: inline-block;
}
.skill-study:after {
	position: absolute;
	right: 0;
	content: ":";
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}
table .heading td{
	text-align: center;
}
.footer {
	padding-top: 5px;
}
span.text{

}
span.text:hover{
	outline: 1pt dashed rgb(119,165,204);
}
@media print {
	body {
		font-size: 14px;
	}
	.curriculum-vitae {
		padding-top: 0;
		padding-bottom: 0;
	}
	.header .middle {
		font-size: 16px;
	}
	.curriculum-vitae sub {
		font-size: 8px !important;
	}
	.header .left {
		float: left;
		font-size: 12px;
	}
	.header .right {
		float: right;
	}
	.list-box .box {
		width: 16%;
		float: left;
	}
	.header .right .title {
		font-size: 9px;
	}
	table td {
		padding: 0 2px;
	}
	.block-1 .thumb {
		height: 220px;
	}
	.master-sign {
		float: right;
	}
}