.fieldgroup_controls .suggest-control, .fieldgroup_controls .clone, .fieldgroup_controls .remove, .fieldgroup_controls .up, .fieldgroup_controls .down {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    margin: 0 auto;
    line-height: 14px;
    font-size: 11px;
    width: 50px;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}
.fieldgroup_controls {
    text-align: right;
    position: absolute;
    display: none;   
    right: 0px;
    text-shadow: none;
    min-width: 200px;
    font-family: arial,sans-serif;
    z-index: 1049;
}

.fieldgroup_controls .down, .fieldgroup_controls .up {
    width: 30px;
    background-color: #fcfcfc;
    color: #666;
    border: 1px solid #999;
}
.fieldgroup_controls .down, .fieldgroup_controls .up {
    width: 30px;
    background-color: #fcfcfc;
    color: #666;
    border: 1px solid #999;
}
.fieldgroup_controls .clone {
    font-size: 11px;
    background-color: #3CB371;
    width: 55px;
}
.fieldgroup_controls .remove {
    background-color: #F15C4C;
    font-size: 11px;
    width: 65px;
}
.fieldgroup:hover {
    position: relative;
    box-shadow: 0px 0px 1px #999;
}
.fieldgroup:hover .fieldgroup_controls{
    display: block;
}

.cvo-block .blockControls .show-layout-editor, .cvo-block .blockControls .down, .cvo-block .blockControls .up {
    width: 30px;
    background-color: #fcfcfc;
    color: #666;
}

.cvo-block .blockControls .show-layout-editor,.cvo-block .blockControls .hide, .cvo-block .blockControls .up, .cvo-block .blockControls .down {
    font-family: tahoma;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    margin: 0 auto;
    line-height: 14px;
    font-size: 12px;
    width: 50px;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-top: 6px;
}
.cvo-block .blockControls .show-layout-editor, .cvo-block .blockControls .hide, .cvo-block .blockControls .up, .cvo-block .blockControls .down {
    font-family: tahoma;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    margin: 0 auto;
    line-height: 14px;
    font-size: 12px;
    width: 50px;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-top: 6px;
}
.cvo-block .blockControls .show-layout-editor, .cvo-block .blockControls .down, .cvo-block .blockControls .up {
    width: 30px;
    background-color: #fcfcfc;
    color: #666;
}
.cvo-block .blockControls {
    font-family: arial,sans-serif;
    position: absolute;
    z-index: 1000;
    height: 36px;
    top: -36px;
    left: 0px;
    text-align: center;
    padding: 0 8px;
    text-shadow: none;
    display: block;
    background-color: #ccc;
    opacity: 1;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}
.cvo-block .blockControls .hide {
    background-color: #F15C4C;
    width: 90px;
}

.cvo-block:hover {
    position: relative;
    box-shadow: 0px 0px 0px 2px #ccc inset;
    border-radius: 0 4px 4px 4px;
    -moz-border-radius: 0 4px 4px 4px;
    -webkit-border-radius: 0 4px 4px 4px;
}
.cvo-block:hover .fieldgroup_controls{
    display: block;
}

.cvo-block .blockControls .hide {
    background-color: #F15C4C;
    width: 90px;
    display: block !important;
    float: right;
    margin-left: 5px;
}

#cvo-profile-avatar {
    width: 4.2cm;
    min-height: 4.2cm;
    vertical-align: top;
}

img[cvo-form-field][type=image]:hover {
    outline: 1px dashed rgb(119,165,204);
    cursor: pointer;
}


#imageEditorWraper {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(155,155,155,0.9);
    z-index: 22222222;
}
#imageEditorWraper .container {
    padding: 0;
    width: 90%;
    min-height: 300px;
    margin: 0 auto;
    margin-top: 80px;
    background-color: white;
    overflow: hidden;
    width: 750px;
    text-align: center;
}
#imageEditorWraper .editor-col-left {
    position: relative;
    overflow: hidden;
    width: 450px;
    height: 300px;
}
#imageEditorWraper .editor-col-left, #imageEditorWraper .editor-col-right {
    text-align: center;
    float: left;
}

#imageEditorWraper .editor-col-right {
    width: 300px;
}
#imageEditorWraper .editor-col-left, #imageEditorWraper .editor-col-right {
    text-align: center;
    float: left;
}

#imageEditorWraper .imageEditor {
    padding: 10px;
    width: 450px;
    height: 230px;
    padding-bottom: 0;
}
.image-controls {
    margin-top: 5px;
    margin-bottom: 20px;
    display: none;
}
#imageEditorWraper .loadingShow {
    position: absolute;
    width: 450px;
    height: 450px;
    padding-top: 100px;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.9);
    color: #169F81;
    font-size: 16px;
}
#imageEditorWraper .imageEditorControls {
    padding: 10px;
    width: 300px;
    text-align: center;
}
#imageEditorWraper .img-edit-preview {
    width: 160px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
#imageEditorWraper .img-edit-preview img {
    width: 100%;
}

#imageEditorWraper .btn-change-image, #imageEditorWraper .btn-save-image, #imageEditorWraper .btn-remove-image {
    border: none;
    display: inline-block;
    color: white;
    padding: 5px;
    cursor: pointer;
    margin-top: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

#imageEditorWraper .btn-change-image {
    width: 76px;
    background-color: #4A8CF7;
    margin-right: 8px;
}

#imageEditorWraper .btn-remove-image {
    background-color: red;
    width: 76px;
}

#imageEditorWraper .btn-save-image {
    width: 160px;
    font-size: 1.2em;
    line-height: 1.5em;
    background-color: #1F8C67;
}

#imageEditorWraper .btn-close-image-editor {
    margin-top: 5px;
    display: block;
    font-size: 14px;
    text-decoration: underline;
    color: red;
}

.btn-choose-image {
    display: inline-block;
    height: 190px;
    vertical-align: middle;
    line-height: 60px;
    margin-top: 20px;
    width: 90%;
    color: #999;
    border: 2px dashed #0B85A1;
}
.btn-choose-image:hover {
    color: #444;
    border: 2px dashed green;
}
.btn-choose-image i {
    font-size: 50px;
    margin-top: 50px;
}